@page "/Administrations/Roles"
@page "/Administrations/Roles/RoleList"

@namespace Azunt.Web.Components.Pages.Admin._01_Roles
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = "Administrators")]

<h3>Role List <a href="/Administrations/Roles/RoleCreate"><span class="oi oi-plus"></span></a></h3>

<div class="row">
    <div class="col-md-12">
        @if (models == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table table-bordered table-hover">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center">Name</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                @if (models.Count == 0)
                {
                    <tbody>
                        <tr>
                            <td colspan="2" class="text-center">
                                <p>No data available.</p>
                            </td>
                        </tr>
                    </tbody>
                }
                else
                {
                    <tbody>
                        @foreach (var m in models)
                        {
                            <tr>
                                <td class="text-center @(IsSystemRole(m.Name) ? "bg-light font-weight-bold" : "")">@m.Name</td>
                                <td class="text-center @(IsSystemRole(m.Name) ? "bg-light" : "")">
                                    <a href="/Administrations/Roles/RoleDetails/@m.Id" class="btn btn-primary w-50">Details</a>
                                    <a href="@EditLink(m)" class="btn btn-sm btn-success ml-1 @(IsSystemRole(m.Name) ? "disabled" : "")">Edit</a>
                                    <a href="@DeleteLink(m)" class="btn btn-sm btn-danger @(IsSystemRole(m.Name) ? "disabled" : "")">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                }
            </table>
        }
    </div>
</div>
