@page "/Replys/Index"

@attribute [Authorize(Roles = "Administrators")]

<h3>Reply List <a href="/Replys/Create"><span class="oi oi-plus"></span></a></h3>

<div class="row">
    <div class="col-md-12">
        <a href="/Replys/Create" class="btn btn-primary">Create</a>
        <AuthorizeView>
            <Authorized>
            </Authorized>
            <NotAuthorized>
                <a href="/Replys/Manage" class="btn btn-primary">Manage</a>
                <a href="/Replys/Report" class="btn btn-primary">Report</a>
            </NotAuthorized>
        </AuthorizeView>
        <AuthorizeView Roles="Administrators, Managers">
            <a href="/Replys/Manage" class="btn btn-primary">Manage</a>
        </AuthorizeView>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @if (models == null)
        {
            <div>
                <p>
                    <MatProgressBar Indeterminate="true"></MatProgressBar>
                </p>
            </div>
        }
        else
        {
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>ID</th>
                            <th @onclick="@(_ => SortByName())" style="cursor: pointer;">Name <Hawaso.Pages.Replys.Components.SortOrderArrow SortColumn="Name" SortOrder="@sortOrder"></Hawaso.Pages.Replys.Components.SortOrderArrow></th>
                            <th @onclick="@(() => SortByTitle())" style="cursor: pointer;">Title <Hawaso.Pages.Replys.Components.SortOrderArrow SortColumn="Title" SortOrder="@sortOrder"></Hawaso.Pages.Replys.Components.SortOrderArrow></th>
                            <th>Created</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    @if (models.Count == 0)
                    {
                        <tbody>
                            <tr>
                                <td colspan="5" class="text-center">
                                    <p>데이터가 없습니다.</p>
                                </td>
                            </tr>
                        </tbody>
                    }
                    else
                    {
                        <tbody>
                            @foreach (var m in models)
                            {
                                <tr>
                                    <td>@m.Id</td>
                                    <td @onclick="@(() => NameClick(m.Id))">
                                        <a href="/Replys/Details/@m.Id">
                                            @m.Name
                                        </a>
                                    </td>
                                    <td>@m.Title</td>
                                    <td>@m.Created?.ToShortTimeString()</td>
                                    <td>
                                        <a href="/Replys/Details/@m.Id" class="btn btn-light">Details</a>
                                        <a href="/Replys/Edit/@m.Id" class="btn btn-light">Edit</a>
                                        <a href="/Replys/Delete/@m.Id" class="btn btn-light">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        }
    </div>
    <div class="col-md-12">
        <DulPager.DulPagerComponent Model="pager" PageIndexChanged="PageIndexChanged"></DulPager.DulPagerComponent>
    </div>
    <div class="col-md-12">
        <Hawaso.Pages.Replys.Components.SearchBox placeholder="Search Replys..." SearchQueryChanged="Search"></Hawaso.Pages.Replys.Components.SearchBox>
    </div>
</div>
