@page "/Products/Edit/{ProductId:int}"
@*@attribute [AllowAnonymous]*@
@attribute [Authorize(Roles = "Administrators")]

<h3>Edit</h3>

<div class="row">
    <div class="col-md-12">
        <EditForm Model="Product" OnValidSubmit="btnEdit_Click">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <ValidationSummary></ValidationSummary>
            <div class="form-group">
                <label for="txtName">Product Name</label>
                <InputText id="txtName" class="form-control" placeholder="Enter Product Name"
                           @bind-Value="@Product.ModelName"></InputText>
                <ValidationMessage For="@(() => Product.ModelName)" class="form-text text-muted"></ValidationMessage>
            </div>
            <div class="form-group">
                <label for="txtModelNumber">Model Number</label>
                <InputText id="txtModelNumber" class="form-control" placeholder="Enter Model Number" rows="5"
                           @bind-Value="@Product.ModelNumber"></InputText>
                <ValidationMessage For="@(() => Product.ModelNumber)" class="form-text text-muted"></ValidationMessage>
            </div>
            <div class="form-group">
                <label for="lstCategory">Category</label>
                <InputSelect @bind-Value="@CategoryId" class="form-control" id="lstCategory">
                    <option value="">--Select Category--</option>
                    @foreach (var category in Categories)
                    {
                        <option value="@category.CategoryId">@category.CategoryName</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => CategoryId)" class="form-text text-muted"></ValidationMessage>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Edit</button>
                <a href="/Products/Details/@Product.ProductId" class="btn btn-secondary">Cancel</a>
            </div>
        </EditForm>
    </div>
</div>
