@page "/Libraries/Create"

@attribute [Authorize(Roles = "Administrators")]

<h3>Library Create</h3>

<div class="row">
    <div class="col-md-12">
        <EditForm Model="model" OnValidSubmit="FormSubmit">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <ValidationSummary></ValidationSummary>
            <div class="form-group">
                <label for="txtName">Name</label>
                <InputText id="txtName" class="form-control" placeholder="Enter Title"
                           @bind-Value="@model.Name"></InputText>
                <ValidationMessage For="@(() => model.Name)" class="form-text text-muted"></ValidationMessage>
            </div>
            <div class="form-group">
                <label for="txtTitle">Title</label>
                <InputText id="txtTitle" class="form-control" placeholder="Enter Title"
                           @bind-Value="@model.Title"></InputText>
                <ValidationMessage For="@(() => model.Title)" class="form-text text-muted"></ValidationMessage>
            </div>
            <div class="form-group">
                <label for="txtContent">Content</label>
                <InputTextArea id="txtContext" class="form-control" placeholder="Enter Content" rows="5"
                               @bind-Value="@model.Content"></InputTextArea>
                <ValidationMessage For="@(() => model.Content)" class="form-text text-muted"></ValidationMessage>
            </div>
            <div class="form-group" style="display: none;">
                <label for="lstCategory">Parent</label>
                <InputSelect @bind-Value="@ParentId" class="form-control" id="lstCategory">
                    <option value="">--Select Parent--</option>
                    @foreach (var p in parentIds)
                    {
                        <option value="@p">@p</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => ParentId)" class="form-text text-muted"></ValidationMessage>
            </div>
            <div class="form-group">
                <label for="txtTitle">File</label>
                <BlazorInputFile.InputFile OnChange="HandleSelection">
                </BlazorInputFile.InputFile>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/Libraries" class="btn btn-secondary">List</a>
            </div>
        </EditForm>
    </div>
</div>
