@page "/Notices/Create"

@*// 최고 관리자 그룹(역할)에 포함된 사용자만 공지사항 관리*@
@attribute [Authorize(Roles = "Administrators")] 

<h3>Create</h3>

<div class="row">
    @*<div class="col-md-6 offset-md-3">*@
    <div class="col-md-12">
        <EditForm Model="model" OnValidSubmit="FormSubmit">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <ValidationSummary></ValidationSummary>
            <div class="form-group">
                <label for="txtName">Name</label>
                <InputText id="txtName" class="form-control" placeholder="Enter Name"
                           @bind-Value="@model.Name"></InputText>
                <ValidationMessage For="@(() => model.Name)" class="form-text text-muted"></ValidationMessage>
            </div>
            <div class="form-group">
                <label for="txtTitle">Title</label>
                <InputText id="txtTitle" class="form-control" placeholder="Enter Title"
                           @bind-Value="@model.Title"></InputText>
                <ValidationMessage For="@(() => model.Title)" class="form-text text-muted"></ValidationMessage>
            </div>
            <div class="form-group">
                <label for="txtContent">Content</label>

                @*[4] CKEditor 컴포넌트 적용*@
                @*<InputTextArea id="txtContext" class="form-control" placeholder="Enter Content" rows="5" @bind-Value="@model.Content"></InputTextArea>*@
                <Hawaso.Components.CkEditorFourComponent @bind-Value="@model.Content"></Hawaso.Components.CkEditorFourComponent>

                <ValidationMessage For="@(() => model.Content)" class="form-text text-muted"></ValidationMessage>
            </div>
            <div class="form-group">
                <label for="lstCategory">Parent</label>
                <InputSelect @bind-Value="@ParentId" class="form-control" id="lstCategory">
                    <option value="">--Select Parent--</option>
                    @foreach (var p in parentIds)
                    {
                        <option value="@p">@p</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => ParentId)" class="form-text text-muted"></ValidationMessage>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/Notices" class="btn btn-secondary">List</a>
            </div>
        </EditForm>
    </div>
</div>
