@page "/MachineTypes"

@using MachineTypeApp.Models
@using Dul.Web
@using System.Drawing

@inject IMachineTypeRepository repository
@inject IJSRuntime JS

@attribute [AllowAnonymous]
@attribute [Authorize(Roles = "Administrators")]

<ol class="breadcrumb">
    <li class="breadcrumb-item active">MachineType List</li>

    <LoginDisplay></LoginDisplay>
</ol>

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="card">
            <div class="card-body">

                <h3>MachineType List</h3>

                <p>MachineType List</p>

                @if (isLoading)
                {
                    <p><em>Loading...</em></p>
                }
                else if (machineTypes.Count == 0)
                {
                    <p><em>No machine types found.</em></p>
                }
                else
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-nowrap text-center">#</th>
                                <th class="text-nowrap text-center">Name</th>
                                <th class="text-nowrap text-center">Edit</th>
                                <th class="text-nowrap text-center">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var machineTypeItem in machineTypes)
                            {
                                <tr>
                                    <td class="text-nowrap text-center">@machineTypeItem.Id</td>
                                    <td class="text-nowrap text-center">@machineTypeItem.Name</td>
                                    <td class="text-nowrap text-center">
                                        <input type="button"
                                               value="Edit"
                                               class="btn btn-primary"
                                               data-toggle="modal"
                                               data-target="#MachineTypeEditorDialog"
                                               @onclick="(() => EditBy(machineTypeItem))" />
                                    </td>
                                    <td class="text-nowrap text-center">
                                        <input type="button"
                                               value="Delete"
                                               class="btn btn-danger"
                                               data-toggle="modal"
                                               data-target="#MachineTypeDeleteDialog"
                                               @onclick="(() => DeleteBy(machineTypeItem))" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }

                <MachineTypePager Model="pager" PageIndexChanged="PageIndexChanged"></MachineTypePager>

                <div>
                    <input type="button"
                           value="Add"
                           data-toggle="modal"
                           data-target="#MachineTypeEditorDialog"
                           class="btn btn-primary"
                           @onclick="(() => btnCreate_Click())" />
                </div>

                <MachineTypeDeleteDialog OnClick="btnDelete_Click"></MachineTypeDeleteDialog>

                <MachineTypeEditorForm EditorModel="@machineType" SaveOrUpdated="@SaveOrUpdated">
                    <EditorFormTitle>@editorFormTitle</EditorFormTitle>
                </MachineTypeEditorForm>

            </div>
        </div>
    </div>
</div>

@code {
    private PagerBase pager = new PagerBase()
    {
        PageNumber = 1,
        PageIndex = 0,
        PageSize = 20,
        PagerButtonCount = 5
    };

    private bool isLoading = true;
    private string editorFormTitle = "";
    private List<MachineType> machineTypes = new();
    private MachineType machineType = new MachineType(); // 선택한 항목 관리

    protected override async Task OnInitializedAsync()
    {
        await LoadMachineTypesAsync();
        isLoading = false;
    }

    protected void btnCreate_Click()
    {
        editorFormTitle = "Create";
        machineType = new MachineType(); // 모델 클리어
    }

    protected async Task btnDelete_Click()
    {
        await repository.DeleteMachineTypeAsync(machineType.Id); // 삭제

        await JS.InvokeAsync<object>("closeModal", "MachineTypeDeleteDialog");

        await LoadMachineTypesAsync();

        machineType = new MachineType(); // 선택 항목 초기화
    }

    private void DeleteBy(MachineType mt)
    {
        machineType = mt;
    }

    private void EditBy(MachineType mt)
    {
        editorFormTitle = "Edit";
        machineType = mt;
    }

    // 등록 또는 수정 후 현재 페이지 다시 로드
    private async void SaveOrUpdated()
    {
        await LoadMachineTypesAsync();

        StateHasChanged();
    }

    // 페이저 버튼 클릭 콜백 메서드
    private async void PageIndexChanged(int pageIndex)
    {
        pager.PageIndex = pageIndex;
        pager.PageNumber = pageIndex + 1;

        await LoadMachineTypesAsync();

        StateHasChanged();
    }

    private async Task LoadMachineTypesAsync()
    {
        var pagingData = await repository.GetAllAsync(pager.PageIndex, pager.PageSize);

        pager.RecordCount = pagingData.TotalCount;
        machineTypes = pagingData.Items.ToList();
    }
}