@model Zero.Models.Incident

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Incident</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DailyLogId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailyLogId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DailyLogNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailyLogNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpenedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpenedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Occurred)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Occurred)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Closed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Closed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Properties)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Properties.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Property)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Property)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportTypes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportTypes.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportSpecific)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportSpecific.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specific)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specific)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecificId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecificId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseStatuses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseStatuses.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locations.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sublocations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sublocations.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sublocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sublocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departments.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resolution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resolution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondaryOperatorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondaryOperatorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondaryOperator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondaryOperator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Custodial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Custodial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UseForce)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseForce)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medical)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medical)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RiskManagement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RiskManagement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupervisorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupervisorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirectorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirectorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentSignature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentSignature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupervisorSignature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupervisorSignature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerSignature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerSignature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirectorSignature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirectorSignature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupervisorTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupervisorTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirectorTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirectorTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvestigatorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvestigatorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShiftId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImmediateSupervisorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImmediateSupervisorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GamingClassId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GamingClassId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurveillanceNotified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveillanceNotified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurveillanceObserverId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveillanceObserverId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitialContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitialContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InspectorSig)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InspectorSig)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeputyDirectorSig)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeputyDirectorSig)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirectorSig)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirectorSig)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupervisorSig)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupervisorSig)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompletionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompletionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TgaforwardDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TgaforwardDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TgoreturnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TgoreturnDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Citation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Citation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViolationNature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViolationNature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Variance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Variance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TapeIdentification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TapeIdentification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuspectPhoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuspectPhoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExclusionInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExclusionInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoliceContacted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoliceContacted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoliceContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoliceContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvestigatorSigTs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvestigatorSigTs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupervisorSigTs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupervisorSigTs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeputyDirectorSigTs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeputyDirectorSigTs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirectorSigTs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirectorSigTs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tgoresponse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tgoresponse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClosedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClosedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DispatchCallId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DispatchCallId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuditId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuditId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SavingsOrLosses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SavingsOrLosses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirectorOnly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirectorOnly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentSigFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentSigFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupervisorSigFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupervisorSigFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerSigFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerSigFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirectorSigFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirectorSigFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupervisorImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupervisorImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirectorImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirectorImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RemarksTitle1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RemarksTitle1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RemarksMemos1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RemarksMemos1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RemarksTitle2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RemarksTitle2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RemarksMemos2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RemarksMemos2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RemarksTitle3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RemarksTitle3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RemarksMemos3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RemarksMemos3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RemarksTitle4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RemarksTitle4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RemarksMemos4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RemarksMemos4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RemarksTitle5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RemarksTitle5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RemarksMemos5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RemarksMemos5)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
